.container {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;

  .form {
    width: 40%;
    padding: 1rem;
    background-color: #f0f0f0;
    position: relative;

    .close {
      padding: 0.5rem;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .field-block {
      margin-bottom: 1rem;
      text-align: left;

      .label {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      input {
        border: none;
        padding: 0.5rem;
        line-height: 1rem;
        width: calc(100% - 2rem);

        &:focus {
          outline: none;
        }
      }

      textarea {
        padding: 1rem;
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        height: 6rem;
        border: none;
      }
    }
  }

  .template {
    margin: 0 auto;
    vertical-align: top;
    width: calc(100% - 40%);

    .view-block {
      padding: 1rem;
    }
  }
}
